*{
color:black;
margin:10px;
padding:1px;
font-family:cursive;
line-height: 1.5;
letter-spacing:1px;
}
body{
Color: white;
background-color: rgba(100, 45, 45, 0.5);
font-size:18px;
}
.container{
background-color:#0fd0f7;
overflow:auto;
outline:2px solid blue;
border-radius:18%;
}
.container a {
  float: left;
  color:#f70fc7;
  padding: 20px 20px;
   display:flex;
}
.container a:hover {
  background-color:#0fe3f7;
  color: #fdbb2d;
  border-radius:50%;

}
.container a.active {
  background-color:#eba114;
}
.hero img{
border: 1px solid #1414eb;
 border-radius: 10%;
 padding: 5px;
 width: 250px;
float:right;
outline:2px solid #14eb95;
}
span{
color:white;
text-transform: uppercase;
text-shadow: 2px 1px black;

}
.animated-text {
  display: flex;
}

.animated-text span {
  animation: colorChange 2s infinite alternate; 
}

@keyframes colorChange {
  0% { color: red; }
  20% { color: orange; }
  40% { color: yellow; }
  60% { color: green; }
  10% { color: blue; }
80% { color: pink; }

}
#Centred p{
list-style-type: square;
}
#education{
color:#1403f4;
text-transform: uppercase;
}
# p{
text-indent: 50px;
}
#buttons button{
background-color: #1403f4;
padding: 15px;
text-align: center;
border-radius: 15%;
}

#text{
float:cover;
display:flex;
text-align: justify;
align-items:justify;
}
#text p{
text-indent: 50px;
}

#list{
list-style-type: square;
}
#report{
float:cover;
display:flex;
align-items:justify;
}
#report p{
text-indent: 50px;
}
.pen{
background-color:#43f403;
overflow:auto;
padding:25px;
outline:2px solid #032cf4;
border-radius:18%;
}
.pen a {
  color:#f403ac;
   display:flex;
}
.pen a:hover {
  background-color:#03b47a;
  border-radius:10%;
}
.pen a.active {
  background-color:#f40330;
}
