*{
color:black;

}
body{
Color: white;
background-color:blue;
font-family: "Times New Roman", "Brush Script MT";
font-size:25px;
}
.container{
float:justify;
background-color:yellow;
overflow:hidden;
space-between :90px;
border-radius:60px;

}
.container a {
  float: left;
  color: red;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 20px;
display:flex;
Z-index:100;
}
.container a:hover {
  background-color: green;
  color: black;
}
.container a.active {
  background-color:blue;
  color: white;
}
.hero img{
border: 1px solid black;
  border-radius: 50%;
  padding: 5px;
  width: 250px;
float:right;
}
span{
color:white;
font-size:30px;
 text-decoration: none;
text-transform: uppercase;
text-shadow: 2px 1px black;

}
#Centred p{
list-style-type: square;
line-height: 1.5;
}
#education{
color:brown;
text-transform: uppercase;
}
# p{
text-indent: 50px;
letter-spacing:1px;
line-height: 1.5;
}



#buttons button{
background-color: green;
  border-radius:60% ;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
 text-align: center;
  font-size: 16px;
border-radius: 12px;
}

#text{
float:cover;
display:flex;
text-align: justify;
align-items:justify;
}
#text p{
text-indent: 50px;
letter-spacing:1px;
line-height: 1.5;
}

#list{
list-style-type: square;
line-height: 1.5;
}
#report{
float:cover;
display:flex;
align-items:justify;
}
#report p{
text-indent: 50px;
letter-spacing:1px;
line-height: 1.5;
}
#pen{
list-style-type: circle;
line-height: 1.5;
}
#team img{
height:200px;
width:200px;

border:0px solid black;
border-radius:50%;
}

#page3{
font-size:45px;
#icons{
font-size:25px;
font-spacing: 40px;
}
#icons p{
gap:50px;
}



